/* color de fondo */
body {
  background: linear-gradient(135deg, #555555, #1d1d1d);
  color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-log{  width:150px; height:100px; object-fit:contain;background-color: rgb(116, 116, 116);
}
.card {
  transition: transform .2s, box-shadow .2s;
  background-color: #707070;
}
/* animaciones */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
}
.btn-primary:hover {
  box-shadow: 0 0 20px rgba(237,110,18,.6);
}

.card .card-title{
  color: rgb(255, 255, 255);
}
.display-6.fw-semibold{
color: rgb(255, 255, 255);
}
.card-body{
  background-color:rgb(112, 112, 112);
}
/* quitar borde azul bootstarp, letras en blanco en los botones*/
.btn.btn-primary {
  border: none;
  color: white;
}
