body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-log{  width:150px; height:100px; object-fit:contain;background-color: rgb(116, 116, 116);
}
.card {
  transition: transform .2s, box-shadow .2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}
.btn-primary:hover {
  box-shadow: 0 0 20px rgba(237,110,18,.6);
}